<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>User</h2>
            <h3>Car selected: </h3>
        </div>
        <img src="" alt="Profile picture">
    </div>

    <mat-divider></mat-divider>
    
    <div mat-subheader>Pages</div>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
            <mat-icon>dashboard</mat-icon>
            Dashboard
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
            <mat-icon>explore</mat-icon>
            Posts
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
            <mat-icon>settings</mat-icon>
            Settings
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/account">
            <mat-icon>account_circle</mat-icon>
            Account
        </a>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/car">
            <mat-icon>directions_car</mat-icon>
            Car_test
        </a>


    <mat-divider></mat-divider>

    <div mat-subheader>Tools</div>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/search">
            <mat-icon>search</mat-icon>
            Search
        </a>
    
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/login">
            <mat-icon>exit_to_app</mat-icon>
            Sign out
        </a>

</mat-nav-list>
