<div class="profile-card">
    <div class="header">
        <h2>User</h2>

        <h3>Email: </h3>

        <h3>Status: </h3>

        <img src="" alt="Profile picture">

        <mat-nav-list>

            <div mat-subheader>Cars:</div>

            <mat-divider></mat-divider>

            <h4>Car 1</h4>

            <mat-divider></mat-divider>

            <h4>Car 2</h4>

            <mat-divider></mat-divider>

            <h4>Car 3</h4>

            <mat-divider></mat-divider>
    
        </mat-nav-list>

    </div>
    
</div>